<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Menu | Tea Cozy</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/images/logo_favicon1.png"
    />
    <link rel="stylesheet" href="/static/index/style.css" />
    <link rel="stylesheet" href="/static/login/style.css" />
    <link rel="stylesheet" href="/static/menu/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/menu/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/menu/css/responsive.css" />
    <link rel="stylesheet" href="/static/menu/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- Bootstrap for corousel -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Cart JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      #cart-message {
        display: none; /* Hide initially */
      }
      .inputAddress {
        width: 100%; /* Full width */
        padding: 10px; /* Padding for better usability */
        font-size: 1rem; /* Font size */
        color: #ffffff; /* Text color */
        background-color: rgb(0, 66, 37); /* Background color */
        resize: none; /* Prevent resizing the textarea */
        outline: none;
        border: none;
        border-radius: 10px;
      }
      .inputAddress:focus {
        outline: none; /* Remove outline */
      }
      hr {
        background-color: white;
        height: 2px;
      }
      .profile:hover {
        background-color: unset;
        color: rgb(66, 173, 189);
      }
      .logout:hover {
        background-color: unset;
        color: rgb(255, 83, 83);
      }
    </style>
  </head>
  <body>
    <!-- Login Form Start -->
    <div id="login-popup-container">
      <div id="login-popup-content">
        <form class="form-login" method="post">
          {% csrf_token %}
          <div class="flex-column">
            <label>Email </label>
          </div>
          <div class="inputForm">
            <i class="bi bi-at" style="color: white; font-size: 1.4rem"></i>
            <input
              type="email"
              name="email"
              class="input"
              placeholder="Enter your Email"
            />
          </div>

          <div class="flex-column">
            <label>Password </label>
          </div>
          <div class="inputForm">
            <i class="bi bi-lock" style="color: white; font-size: 1.4rem"></i>
            <input
              type="password"
              name="password"
              class="input"
              placeholder="Enter your Password"
            />
          </div>

          <div class="flex-row">
            <div>
              <input type="checkbox" />
              <label style="color: white">Remember me </label>
            </div>
            <a
              href="/password_reset"
              class="span"
              style="color: rgb(255, 207, 157)"
              >Forgot password?</a
            >
          </div>
          <button class="button-submit" name="signin" value="signin">
            Sign In
          </button>
          <p class="p" style="color: white">
            Don't have an account?
            <a
              id="signup-link"
              style="text-decoration: none; color: rgb(255, 207, 157)"
              href="#"
              class="span"
              >Sign Up</a
            >
          </p>
        </form>
      </div>
    </div>
    <!-- Login Form End -->
    <!-- Signup Form Start -->
    <div id="signup-popup-container">
      <div id="signup-popup-content">
        <form class="form-login" method="post">
          {% csrf_token %}
          <h1 style="text-align: center; color: white">Signup Form</h1>
          <hr style="background-color: white; height: 2px" />
          <div
            class="button-selection"
            style="display: flex; justify-content: space-between"
          >
            <button
              type="button"
              id="customer-btn"
              onclick="showCustomerForm()"
              style="
                width: 300px;
                background-color: #004225;
                border: 1px solid white;
                color: white;
                height: 50px;
                border-radius: 10px;
              "
            >
              Customer
            </button>
            <button
              type="button"
              id="company-btn"
              onclick="showCompanyForm()"
              style="
                width: 300px;
                background-color: #004225;
                border: 1px solid white;
                color: white;
                height: 50px;
                border-radius: 10px;
              "
            >
              Company Customer
            </button>
          </div>
          <hr style="background-color: white; height: 2px" />
          <!-- customer form -->
          <div id="customer-form">
            <input
              hidden
              type="checkbox"
              id="customer-checkbox"
              name="is_normal_user"
              checked
              onclick="toggleCheckbox(this, 'company-checkbox')"
            />
            <div class="row">
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Fullname </label>
                </div>
                <div class="inputForm">
                  <input
                    type="text"
                    name="full_name"
                    class="input"
                    placeholder="Enter your Fullname"
                    required
                  />
                </div>
              </div>
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Email</label>
                </div>
                <div class="inputForm">
                  <i
                    class="bi bi-at"
                    style="color: white; font-size: 1.4rem"
                  ></i>
                  <input
                    type="email"
                    name="email"
                    class="input"
                    placeholder="Enter your Email"
                    required
                  />
                </div>
              </div>
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Password </label>
                </div>
                <div class="inputForm">
                  <i
                    class="bi bi-lock"
                    style="color: white; font-size: 1.4rem"
                  ></i>
                  <input
                    type="password"
                    name="password1"
                    class="input"
                    placeholder="Enter your Password"
                    required
                  />
                </div>
              </div>
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Confirm Password </label>
                </div>
                <div class="inputForm">
                  <i
                    class="bi bi-lock"
                    style="color: white; font-size: 1.4rem"
                  ></i>
                  <input
                    type="password"
                    name="password2"
                    class="input"
                    placeholder="Enter your Confirm Password"
                    required
                  />
                </div>
              </div>
              <div class="col-12" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Mobile Number</label>
                </div>
                <div class="inputForm">
                  <input
                    type="number"
                    pattern="\d{10,}"
                    name="mobile"
                    class="input"
                    placeholder="Enter your Mobile Number"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- company customer form -->
          <div id="company-form" style="display: none">
            <input
              hidden
              type="checkbox"
              id="company-checkbox"
              name="is_comapny_user"
              onclick="toggleCheckbox(this, 'customer-checkbox')"
            />
            <div class="row">
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Comapny Name </label>
                </div>
                <div class="inputForm">
                  <input
                    type="text"
                    name="comapny_name"
                    class="input"
                    placeholder="Enter your Company Name"
                    required
                  />
                </div>
              </div>
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Comapny Id </label>
                </div>
                <div class="inputForm">
                  <input
                    type="number"
                    name="comapny_id"
                    class="input"
                    placeholder="Enter your Comapny Id"
                    required
                  />
                </div>
              </div>
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Fullname </label>
                </div>
                <div class="inputForm">
                  <input
                    type="text"
                    name="full_name"
                    class="input"
                    placeholder="Enter your Fullname"
                    required
                  />
                </div>
              </div>
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Email</label>
                </div>
                <div class="inputForm">
                  <i
                    class="bi bi-at"
                    style="color: white; font-size: 1.4rem"
                  ></i>
                  <input
                    type="email"
                    name="email"
                    class="input"
                    placeholder="Enter your Email"
                    required
                  />
                </div>
              </div>
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Password </label>
                </div>
                <div class="inputForm">
                  <i
                    class="bi bi-lock"
                    style="color: white; font-size: 1.4rem"
                  ></i>
                  <input
                    type="password"
                    name="password1"
                    class="input"
                    placeholder="Enter your Password"
                    required
                  />
                </div>
              </div>
              <div class="col-6" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Confirm Password </label>
                </div>
                <div class="inputForm">
                  <i
                    class="bi bi-lock"
                    style="color: white; font-size: 1.4rem"
                  ></i>
                  <input
                    type="password"
                    name="password2"
                    class="input"
                    placeholder="Enter your Confirm Password"
                    required
                  />
                </div>
              </div>
              <div class="col-12" style="margin-bottom: 15px">
                <div class="flex-column">
                  <label>Mobile Number</label>
                </div>
                <div class="inputForm">
                  <input
                    type="number"
                    pattern="\d{10,}"
                    name="mobile"
                    class="input"
                    placeholder="Enter your Mobile Number"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- company cusyomer form-end -->
          <input type="checkbox" name="is_customer" id="" checked hidden />
          <button class="button-submit" name="signup" value="signup">
            Sign Up
          </button>
        </form>
      </div>
    </div>
    <!-- Signup Form End -->
    <!-- Header Strat -->
    <header>
      <nav style="background-color: rgb(255, 176, 0)">
        <div class="navbar">
          <div class="logo">
            <img src="/static/images/tea_cozy_logo.png" alt="" />
          </div>
          <ul class="menu mt-4">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/menu">Order Online</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
          <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input
              type="text"
              class="input-search"
              placeholder="Type to Search..."
            />
          </div>
          <div
            class="account"
            style="display: flex; justify-content: center; align-items: center"
          >
            {% if username is not none %}
            <div class="dropdown me-4">
              <button
                class="dropdown-toggle"
                type="button"
                style="
                  background-color: #004225;
                  padding: 10px 15px;
                  color: white;
                  border: 0;
                  border-radius: 10px;
                "
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{username}}
              </button>
              <ul
                class="dropdown-menu"
                style="
                  background-color: rgb(225, 225, 225);

                  border: 0;
                  width: 100%;
                  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
                    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                "
              >
                <li class="">
                  <a class="dropdown-item profile" href="/updateprofile"
                    >Profile</a
                  >
                </li>
                <hr style="margin: 5px 0" />
                <li class="">
                  <a class="dropdown-item profile" href="/vieworder">Order's</a>
                </li>
                <hr style="margin: 5px 0" />
                <li class="">
                  <a class="dropdown-item logout" href="/userlogout">Logout</a>
                </li>
              </ul>
            </div>
            {% else %}
            <i class="bi bi-person-circle me-4" id="login-btn"></i>
            {% endif %}
            <a href="/cart"><i class="bi bi-cart3" id="login-btn"></i></a>
            <small id="cart-message"></small>
          </div>
        </div>
      </nav>
      <div
        id="carouselExample"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
        data-bs-interval="3000"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/static/images/slide_1.jpg"
              class="d-block w-100"
              alt="First Slide"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/static/images/slide_2.jpg"
              class="d-block w-100"
              alt="Second Slide"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/static/images/slide_3.jpg"
              class="d-block w-100"
              alt="Third Slide"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </header>
    <!-- Header end -->

    <!-- Main Start -->
    <main style="margin: 50px 0 0px 0">
      <!-- Menu section -->
      <h3
        style="
          text-align: center;
          font-size: 3rem;
          color: rgb(0, 64, 30);
          margin-bottom: 30px;
        "
      >
        Menu
      </h3>
      <section class="food_section layout_padding">
        <div class="container">
          <div class="filters-content">
            <div class="row grid">
              {% for i in product %}
              <div class="col-sm-6 col-lg-4 all pizza">
                <div class="box">
                  <div
                    class="card shadow-lg"
                    style="width: 22rem; border-radius: 20px"
                  >
                    <div
                      style="
                        background-color: rgb(0, 66, 37);
                        color: white;
                        border-radius: 20px;
                        height: 100%;
                        overflow: hidden;
                      "
                    >
                      <img
                        src="{{i.product_img.url}}"
                        style="
                          border-bottom-left-radius: 50px;
                          border-top-right-radius: 20px;
                          border-top-left-radius: 20px;
                          height: 200px;
                        "
                        class="card-img-top"
                        alt="..."
                      />
                      <div style="padding: 20px">
                        <div
                          style="display: flex; justify-content: space-between"
                        >
                          <h5 class="card-title">{{i.product_name}}</h5>
                          <h5 class="card-title">₹ {{i.price}}</h5>
                        </div>

                        <div style="height: 100px; color: rgb(214, 214, 214)">
                          <p class="card-text">{{i.description}}</p>
                        </div>
                        <div style="padding-top: 25px">
                          <button
                            type="button"
                            class="btn add-to-cart AddToCart"
                            data-id="{{ i.id }}"
                            style="background-color: rgb(255, 176, 0)"
                          >
                            ADD TO CART
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Main end -->

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <img
                  src="/static/images/tea_cozy_logo.png"
                  style="width: 200px"
                  alt=""
                />
              </h6>
              <p style="color: rgba(0, 64, 30, 0.778)">
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6
                class="text-uppercase fw-bold mb-4"
                style="color: rgb(0, 64, 30)"
              >
                OUR POLICIES
              </h6>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <a
                  href="#!"
                  class="text-reset"
                  style="text-decoration: none; color: rgba(0, 64, 30, 0.778)"
                  >Privacy Policy</a
                >
              </p>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <a
                  href="#!"
                  class="text-reset"
                  style="text-decoration: none; color: rgba(0, 64, 30, 0.778)"
                  >Terms & Conditions</a
                >
              </p>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <a href="#!" class="text-reset" style="text-decoration: none"
                  >Refund & Cancellation Policy</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6
                class="text-uppercase fw-bold mb-4"
                style="color: rgb(0, 64, 30)"
              >
                Useful links
              </h6>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <a
                  href="#!"
                  class="text-reset"
                  style="color: rgb(0, 64, 30); text-decoration: none"
                  >Home</a
                >
              </p>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <a
                  href="#!"
                  class="text-reset"
                  style="color: rgb(0, 64, 30); text-decoration: none"
                  >About</a
                >
              </p>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <a
                  href="#!"
                  class="text-reset"
                  style="color: rgb(0, 64, 30); text-decoration: none"
                  >Order online</a
                >
              </p>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <a
                  href="#!"
                  class="text-reset"
                  style="color: rgb(0, 64, 30); text-decoration: none"
                  >Blog</a
                >
              </p>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <a
                  href="#!"
                  class="text-reset"
                  style="color: rgb(0, 64, 30); text-decoration: none"
                  >Contact Us</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6
                class="text-uppercase fw-bold mb-4"
                style="color: rgb(0, 64, 30)"
              >
                Contact
              </h6>
              <div style="display: flex">
                <i
                  style="padding-top: 5px; color: rgb(0, 64, 30)"
                  class="fas fa-home me-3"
                ></i>
                <p style="color: rgba(0, 64, 30, 0.778)">
                  D-001 Elanza Crest, Sindhu Bhavan Road, Bodakdev, Ahmedabad -
                  380059. Gujarat, India
                </p>
              </div>

              <p style="color: rgba(0, 64, 30, 0.778)">
                <i class="fas fa-envelope me-3"></i>

                support@teacozy.in
              </p>
              <p style="color: rgba(0, 64, 30, 0.778)">
                <i class="fas fa-phone me-3"></i> + 01 234 567 88
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
        class="text-center p-4"
        style="
          background-color: rgba(0, 0, 0, 0.05);
          color: rgba(0, 64, 30, 0.778);
        "
      >
        © 2021 Copyright:
        <a
          class="text-reset fw-bold"
          style="text-decoration: none"
          href="https://mdbootstrap.com/"
          >Teacozy.com</a
        >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- Cart js -->
    <script>
      $(document).ready(function () {
        $(".add-to-cart").click(function () {
          var productId = $(this).data("id");
          $.ajax({
            url: "/add-to-cart/" + productId + "/",
            method: "GET",
            success: function (response) {
              $("#cart-message")
                .text("added to cart successfully!")
                .css({
                  position: "absolute",
                  "font-size": "12px",
                  top: "60px",
                  width: "187px",
                  "margin-left": "30px",
                  padding: "10px",
                  "border-radius": "10px",
                  "background-color": "rgb(255, 0, 0)",
                  color: "white",
                })
                .fadeIn();
              console.log("hello");
              // Hide the message after 5 seconds
              setTimeout(function () {
                $("#cart-message").fadeOut(); // You can also use .hide() if you don't want a fade effect
              }, 1000);
            },
            error: function (xhr, status, error) {
              $("#cart-message").text("Error adding to cart.");
            },
          });
        });
      });
    </script>
    <!-- cart-js-end -->
    <!-- Signup form javascript -->
    <script>
      function showCustomerForm() {
        document.getElementById("customer-form").style.display = "block";
        document.getElementById("company-form").style.display = "none";
        document.getElementById("customer-checkbox").checked = true;
        document.getElementById("company-checkbox").checked = false;

        // Enable the customer form fields and disable the company form fields
        toggleFormFields("customer-form", true);
        toggleFormFields("company-form", false);
      }

      function showCompanyForm() {
        document.getElementById("customer-form").style.display = "none";
        document.getElementById("company-form").style.display = "block";
        document.getElementById("company-checkbox").checked = true;
        document.getElementById("customer-checkbox").checked = false;

        // Enable the company form fields and disable the customer form fields
        toggleFormFields("customer-form", false);
        toggleFormFields("company-form", true);
      }

      function toggleCheckbox(currentCheckbox, otherCheckboxId) {
        const otherCheckbox = document.getElementById(otherCheckboxId);
        if (currentCheckbox.checked) {
          otherCheckbox.checked = false;
        }
      }

      function toggleFormFields(formId, isEnabled) {
        const formElements = document
          .getElementById(formId)
          .querySelectorAll("input, select, textarea, button");
        formElements.forEach((element) => {
          element.disabled = !isEnabled; // Disable or enable based on the isEnabled parameter
        });
      }

      // Set default to show customer form
      showCustomerForm();
    </script>
    <!-- Javascript -->
    <script src="/static/login/popup.js"></script>
    <!-- menu - js -->
    <script src="/static/menu/js/bootstrap.js"></script>
    <script src="/static/menu/js/custom.js"></script>
    <script src="/static/menu/js/jquery-3.4.1.min.js"></script>
    <!-- Curousel script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
